
<p>Eat the red circles
  <br>
  Don't get eaten by a bigger circle
</p>

<canvas id="game-canvas" height="400" width="400"></canvas>

<P><span id='message'></span>
<script src="socket.io/socket.io.js"></script>
<script src="/javascripts/gameSocket.js"></script>
<script src="/javascripts/gameClient.js"></script>
